*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black;
  &:hover {
    opacity: 0.8;
  }
}

label {
  display: inline-block;
}

input {
  padding: 6px 12px;
  font-size: 1rem;
  border: 1px solid;
  background: none;
  outline: none;
  &::placeholder {
    opacity: 0.2;
  }
}

input[type="checkbox"] {
  @include size(18px);
  vertical-align: top;
}

input[type="button"] {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

textarea {
  padding: 6px 12px;
  font-size: 1rem;
  background: none;
  outline: none;
  resize: none;
  &::placeholder {
    opacity: 0.2;
  }
}

select {
  color: #495057;
  border: solid 1px #495057;
}

// * {
//   outline: solid 1px;
// }
