//container
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px;
  @include pad {
    max-width: 840px;
  }
}

.active-underline {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: $primary;
  }
}

.hover-underline {
  position: relative;
  &:hover a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: $primary;
  }
}

.border {
  border: solid 1px #00000020;
}

.border-bottom {
  border-bottom: solid 1px #00000020;
}

//bg-color
.bg-primary {
  background: $primary;
}

.bg-primary-light {
  background: $primary-light;
}

.bg-white {
  background: $white;
}

.bg-black {
  background: $black;
}

.eng-font {
  font-family: "Roboto", sans-serif;
}

//text-color
.text-primary {
  color: $primary;
}

.text-primary-dark {
  color: $primary-dark;
}

.text-gray-500 {
  color: $gray-500;
}

.text-white {
  color: $white;
}

//text style
.style-italic {
  font-style: italic;
}

//FontSize
.fs-1 {
  font-size: 4rem;
}

.fs-2 {
  font-size: 3rem;
}

.fs-3 {
  font-size: 2.25rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-5 {
  font-size: 1.25rem;
}

.fs-6 {
  font-size: 1rem;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 2rem;
}

.fs-9 {
  font-size: 2.265rem;
}

.fs-10 {
  font-size: 1.125rem;
}

//FontWeight
.fw-bold {
  font-weight: bold;
}

.fw-medium {
  font-weight: 500;
}

//shadow
.shadow {
  box-shadow: 0px 2px 6px #00000029;
}

//space
.me-8 {
  margin-right: 8px;
}

.me-12 {
  margin-right: 12px;
}

.me-16 {
  margin-right: 16px;
}

.me-22 {
  margin-right: 22px;
}

.me-24 {
  margin-right: 24px;
}

.me-32 {
  margin-right: 32px;
}

.me-48 {
  margin-right: 48px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-80 {
  margin-bottom: 80px;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ps-32 {
  padding-left: 32px;
}

.pe-24 {
  padding-right: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-96 {
  padding-top: 96px;
}

//layout
.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.m-auto {
  margin: 0 auto;
}

//display
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

//flex
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

//border
.border-0 {
  border: none;
}

.border-bottom-1 {
  border-bottom: solid 1px white;
}

.flex-grow {
  flex-grow: 1;
}

//sizing
.w-25 {
  width: 25%;
}

.w-33 {
  width: 33.3333%;
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

@include pad {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .flex-md-column {
    flex-direction: column;
  }

  .flex-md-row {
    flex-direction: row;
  }

  .flex-md-wrap {
    flex-wrap: wrap;
  }

  .justify-content-md-center {
    justify-content: center;
  }

  .align-items-md-center {
    align-items: center;
  }

  .w-md-50 {
    width: 50%;
  }

  .w-md-50cal {
    width: calc(50% - 12px);
  }

  .w-md-100 {
    width: 100%;
  }

  .mb-md-24 {
    margin-bottom: 24px;
  }

  .mb-md-48 {
    margin-bottom: 48px;
  }

  .me-md-0 {
    margin-right: 0;
  }

  .me-md-24 {
    margin-right: 24px;
  }

  .px-md-16 {
    padding-right: 16px;
    padding-left: 16px;
  }

  .px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pe-md-0 {
    padding-right: 0;
  }

  .pe-md-12 {
    padding-right: 12px;
  }

  .ps-md-12 {
    padding-left: 12px;
  }

  .fs-md-1 {
    font-size: 4rem;
  }

  .fs-md-2 {
    font-size: 3rem;
  }

  .fs-md-3 {
    font-size: 2.25em;
  }

  .fs-md-4 {
    font-size: 1.5rem;
  }

  .fs-md-5 {
    font-size: 1.25rem;
  }

  .fs-md-6 {
    font-size: 1rem;
  }

  .fs-md-7 {
    font-size: 0.875rem;
  }
}

@include mobile {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .flex-sm-column {
    flex-direction: column;
  }
  .flex-sm-grow {
    flex-grow: 1;
  }

  .flex-sm-wrap {
    flex-wrap: wrap;
  }

  .w-sm-100 {
    width: 100%;
  }

  .w-sm-50 {
    width: 50%;
  }

  .w-sm-100 {
    width: 100%;
  }

  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .pe-sm-0 {
    padding-right: 0px;
  }

  .ps-sm-0 {
    padding-left: 0px;
  }

  .pt-sm-24 {
    padding-top: 24px;
  }

  .pt-sm-40 {
    padding-top: 40px;
  }

  .pb-sm-24 {
    padding-bottom: 24px;
  }

  .pb-sm-64 {
    padding-bottom: 64px;
  }

  .px-sm-14 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .py-sm-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .mb-sm-8 {
    margin-bottom: 8px;
  }

  .mb-sm-16 {
    margin-bottom: 16px;
  }

  .mb-sm-24 {
    margin-bottom: 24px;
  }

  .mb-sm-32 {
    margin-bottom: 32px;
  }

  .me-sm-0 {
    margin-right: 0;
  }

  .me-sm-8 {
    margin-right: 8px;
  }

  .fs-sm-1 {
    font-size: 4rem;
  }

  .fs-sm-2 {
    font-size: 3rem;
  }

  .fs-sm-3 {
    font-size: 2.25em;
  }

  .fs-sm-4 {
    font-size: 1.5rem;
  }

  .fs-sm-5 {
    font-size: 1.25rem;
  }

  .fs-sm-6 {
    font-size: 1rem;
  }

  .fs-sm-7 {
    font-size: 0.875rem;
  }

  .border-bottom-sm-1 {
    border-bottom: 1px solid white;
  }

  .border-left-sm-1 {
    border-left: 1px solid white;
  }

  .border-right-sm-1 {
    border-right: 1px solid white;
  }
}
