.banner {
  height: 787px;
  background: center/cover url(../images/home-header.png);
  @include pad {
    background: left center/cover url(../images/home-header-sm.png);
  }
  @include mobile {
    height: 396px;
  }
}

.cooperate {
  background: center/cover url(../images/index-bg.png);
  @include pad {
    background: center/cover url(../images/index-bg-md.png);
  }
  @include pad {
    background: center/cover url(../images/index-bg-sm.png);
  }
}

.feature-list {
  img {
    @include size(84px);
  }
}

.commend {
  div {
    flex-grow: 1;
  }
}
