.optical-banner {
  height: 296px;
  @include mobile {
    height: 136px;
  }
  &-1 {
    background: center/cover url(../images/product-header-1.png);
    @include mobile {
      background: center/cover url(../images/product-header-sm-1.png);
    }
  }
  &-2 {
    background: center/cover url(../images/product-header-2.png);
    @include mobile {
      background: center/cover url(../images/product-header-sm-2.png);
    }
  }
}

.sunglasses-banner {
  height: 296px;
  @include mobile {
    height: 136px;
  }
  &-1 {
    background: center/cover url(../images/product-header-3.png);
    @include mobile {
      background: center/cover url(../images/product-header-sm-3.png);
    }
  }
  &-2 {
    background: center/cover url(../images/product-header-4.png);
    @include mobile {
      background: center/cover url(../images/product-header-sm-4.png);
    }
  }
}

.functional-banner {
  height: 296px;
  @include mobile {
    height: 136px;
  }
  &-1 {
    background: center/cover url(../images/product-header-2.png);
    @include mobile {
      background: center/cover url(../images/product-header-sm-2.png);
    }
  }
  &-2 {
    background: center/cover url(../images/product-header-3.png);
    @include mobile {
      background: center/cover url(../images/product-header-sm-3.png);
    }
  }
}
